body{
  font-family: sans-serif;
  text-align: center;
  
  padding: 20px;
  
}
h1, p {
  text-align: center;
}

#image{
  max-width: 100%;
}

img{
  margin: 0 auto;
  display: block;
  height: auto;
}
#img-div{
  background-color: white;
  padding: 10px;
  color: black;
  text-align: center;
  border-radius: 10px;
  max-width: 650px;
  display: block;
  margin: auto;
}

.bold{
  font-weight: bold;
}

#img-caption{
  margin: 10px 0;
}

#main{
  background-color: #eee;
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
  font-size: 1.2rem;
  line-height: 1.6;
}

section{
  display: block;

}
 
 ul{
   text-align: left;
   max-width: 800px;
   margin: 10px auto;
 }
 li{
   padding: 5px;
 }
